:host {
  display: flex;
  flex-direction: column;
  gap: var(--_segmented-gap);
  border-radius: var(--md-list-container-shape, var(--_container-shape));
}

.host {
  /* For shadow */
  &::before,
  &::after {
    content: '';
  }
}

::slotted([data-footprint]) {
  box-sizing: border-box;
  border-radius: var(--md-list-container-shape, var(--_container-shape));
  background-color: var(--_footprint-color);
  opacity: var(--_footprint-opacity);
}
