.outline {
  display: flex;
  align-items: stretch;
  pointer-events: none;
  user-select: none;
}

.outline-start,
.outline-end,
.outline-notch {
  border: var(--_outline-border, none);
  border-radius: var(--_outline-border-radius, 0);
}

.outline-notch {
  flex: 0 0 auto;
  border-inline: none;
  border-block-start: none;
  position: relative;
  width: var(--_outline-notch-width, 0);
  border-radius: 0;
}

.outline-notch::before,
.outline-notch::after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  border-block-start: var(--_outline-border, none);
  inline-size: 50%;
  transition: transform var(--_outline-transition-duration, 0s)
    var(--_outline-transition-easing, ease);
}

.outline-notch::before {
  inset-inline-start: 0;
  transform-origin: left;
}

.outline-notch::after {
  inset-inline-end: 0;
  transform-origin: right;
}

.outline-start {
  flex: 0 0 auto;
  width: var(--_outline-start-width, 0);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-inline-end: none;
}

.outline-end {
  flex: 1 1 auto;
  min-inline-size: 0;
  width: var(--_outline-end-width, 0);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-inline-start: none;
}

:host(:focus-within),
:host(:state(populated)) {
  .outline-notch::before,
  .outline-notch::after {
    transform: scaleX(0);
  }
}
