@use 'sass:meta';
@use '../../core/tokens/md-comp-fab-primary';
@use '../../core/tokens/md-comp-fab-secondary';
@use '../../core/utils/map';
@use '../default/meta' as default;
@use '../utils' as *;
@use '../vars' as *;

$-colors: (
  'primary': md-comp-fab-primary.$map,
  'secondary': md-comp-fab-secondary.$map,
);

@function -map-colors($color, $tokens, $-void...) {
  $-groups: group-fabs($tokens);

  $default-tokens: map.get($-groups, 'default');
  $special: (
    'state-layer-color': map.get($-groups, 'pressed', 'state-layer-color'),
  );

  $-extensions: (
    $default-tokens,
    $special,
    default.$default-tokens,
    default.$special-tokens,
    default.$hovered-tokens
  );

  @return (
    $color,
    (
      'default': map.merge(
          state-vars(
            extend($default-tokens, default.$default-tokens),
            'md-#{$color}-fab'
          ),
          $special
        ),
      'hovered': state-vars(
          extend(map.get($-groups, 'hovered'), $-extensions...),
          'md-#{$color}-fab-hovered'
        ),
      'focused': state-vars(
          map.get($-groups, 'focused'),
          'md-#{$color}-fab-focused',
          $-extensions...
        ),
      'pressed': state-vars(
          map.get($-groups, 'pressed'),
          'md-#{$color}-fab-pressed',
          $-extensions...
        )
    )
  );
}

$colors: map.map($-colors, meta.get-function('-map-colors'));
