:host {
  transition-property: --_level;
}

.host {
  position: relative;
  box-shadow: var(--_elevation-penumbra);

  &::before,
  &::after {
    border-radius: inherit;
    inset: 0;
    position: absolute;
    pointer-events: none;
  }

  &::before {
    box-shadow: var(--_elevation-umbra);
  }

  &::after {
    box-shadow: var(--_elevation-ambient);
  }
}
