/target
/.idea
/node_modules
/.vite
/.vite-inspect
/.vitest-attachments
/.nx
/.coverage
/packages/*/.vite
/packages/*/.coverage
/packages/*/.vitest-attachments
/packages/*/node_modules
/packages/*/custom-elements.json
/packages/**/*.js
/packages/**/*.js.map
/packages/**/*.d.ts.map
/packages/**/*.d.ts

!/packages/*/src

*storybook.log
storybook-static
.docs
*.css
!*.module.css
!*.styles.css
!*.ctr.css

!.storybook/preview-frame.css

.agents/codex
