@use 'sass:map';
@use 'meta' as *;
@use '../utils' as *;

@include unselected-states($unselected) using ($state) {
  @if $state == 'default' {
    will-change: background-color, color;
    transition-property: background-color, color;
    transition-duration: var(--_switch-duration);
    transition-timing-function: var(--_switch-easing);
  }
}
@include selected-states($selected) using ($state) {
}
