@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';

@forward '~@sass-fairy/map';
@forward 'sass:map';

@function size($map) {
  @return list.length(map.keys($map));
}

@function is-empty($map) {
  @return size($map) == 0;
}

@function filter($map, $callback, $args...) {
  $result: ();

  @each $key, $value in $map {
    @if meta.call($callback, $key, $value, $map, $args...) {
      $result: map.set($result, $key, $value);
    }
  }

  @return $result;
}

@function map($map, $callback, $args...) {
  $result: ();

  @each $key, $value in $map {
    $output: meta.call($callback, $key, $value, $map, $args...);
    $transformed-key: list.nth($output, 1);
    $transformed-value: list.nth($output, 2);

    $result: map.set($result, $transformed-key, $transformed-value);
  }

  @return $result;
}
