:host {
  font-size: inherit;
  aspect-ratio: 1;
  inline-size: 1em;
  color: inherit;
  font-variation-settings: inherit;
  font-weight: 400;
  font-family: var(--md-icon-font, 'Material Symbols Outlined');
  display: inline-flex;
  font-style: normal;
  place-items: center;
  place-content: center;
  line-height: 1;
  overflow: hidden;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}
