@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

@each $size, $tokens in $sizes {
  $unselected-vars: multi-state-vars($tokens, 'md-#{$size}-button-unselected');
  $selected-vars: multi-state-vars($tokens, 'md-#{$size}-button-selected');

  $size-param: size($size);

  @include unselected-states($unselected-vars, $size-param) using ($state) {
  }
  @include selected-states($selected-vars, $size-param) using ($state) {
  }
}
