:host {
  --_shape-full: calc(var(--_container-height) / 2);

  display: flex;
  gap: var(--_between-space);

  ::slotted(*) {
    --_border-radius: var(--_inner-corner-corner-size);
  }

  ::slotted(:active),
  ::slotted([checked]) {
    --_inner-corner-corner-size: var(--_container-shape);
  }

  ::slotted([data-first]) {
    --_border-radius: var(--_container-shape) var(--_inner-corner-corner-size)
      var(--_inner-corner-corner-size) var(--_container-shape);
  }

  ::slotted([data-last]) {
    --_border-radius: var(--_inner-corner-corner-size) var(--_container-shape)
      var(--_container-shape) var(--_inner-corner-corner-size);
  }
}
