/**
  * Schema of filled text field.
  *
  * 1. Resting schema.
  *
  * 1.1. Filled field without icon:
  *    ┌──────────────────────────────────┐
  *    │              ↑c↓                 │
  *    │    ┌────────────────────────┐    │
  * ↑a↓│←b1→│ Label text          ↑d↓│←b1→│
  *    │    └────────────────────────┘    │
  *    │              ↑c↓                 │
  *    └──────────────────────────────────┘
  *           ↑e↓
  *     ←f→ support         ←f→ counter ←f→
  *
  * where:
  * - a = 56px (--_container-height)
  * - b1 = 16px (--_padding-inline-start / --_padding-inline-end)
  * - c = 16px (by formula `(a - d) / 2))
  * - d = 24px (--_label-text-line-height)
  * - e = 4px (--_supporting-text-row-gap)
  * - f = 16px (
  *
  * 1.2. Filled field with icon:
  *    ┌──────────────────────────────────────────────────┐
  *    │    ┌───┐   ┌────────────────────────┐   ┌───┐    │
  * ↑a↓│←b2→│ I │←c→│ Label text             │←c→│ I │←b2→│
  *    │    └───┘   └────────────────────────┘   └───┘    │
  *    └──────────────────────────────────────────────────┘
  *
  * where:
  * - a = 56px (--_container-height)
  * - b2 = 12px (--_padding-inline-start / --_padding-inline-end)
  * - I = 24px (--_leading-icon-size / --_trailing-icon-size)
  * - c = 16px (--_leading-icon-gap / --_trailing-icon-gap)
  *
  * 2. Focused or populated schema.
  *
  * 2.1. Filled field without icon:
  *
  * ┌──────────────────────────────────┐
  * │    Label text                    │
  * │←b1→┌────────────────────────┐←b1→│
  * │    │ P Input text        S  │    │
  * │    └────────────────────────┘    │
  * └──────────────────────────────────┘
  *
  * where:
  * - P = prefix
  * - S = suffix
  *
  * 2.2. Filled field with icon:
  *
  * ┌────────────────────────────────────────────────┐
  * │    ┌───┐   Label text                 ┌───┐    │
  * │←b2→│ I │←c→┌──────────────────────┐←c→│ I │←b2→│
  * │    │   │   │ P Input text      S  │   │   │    │
  * │    └───┘   └──────────────────────┘   └───┘    │
  * └────────────────────────────────────────────────┘
  *
  * where:
  * - P = prefix
  * - S = suffix
  *
  * Grid setup of the field.
  * ┌───┬───┬───┬─────────┬─────────┬───┬───┬───┐
  * │ a │ L │ P │    I    │    I    │ S │ T │ z │
  * ├───┼───┼───┼─────────┼─────────┼───┼───┼───┤
  * │ s │ s │ s │    s    │    c    │ c │ c │ c │
  * └───┴───┴───┴─────────┴─────────┴───┴───┴───┘
  * where:
  * - a — the inline-start padding
  * - L — leading icon (optional)
  * - P — prefix (optional)
  * - I — Input field
  * - S — suffix (optional)
  * - T — trailing icon (optional)
  * - z — the inline-end padding
  *
  * Additionally, there is background element that covers first
  * row of the grid and displays container/active indicator for the field.
 */
:host {
  --_default-margin-block: calc(
    (
        var(--md-text-field-container-height, var(--_container-height)) -
          var(--md-text-field-input-line-height, var(--_input-text-line-height))
      ) /
      2
  );
  --_filled-margin-block: calc(
      (
          (
              var(--md-text-field-container-height, var(--_container-height)) -
                var(
                  --md-text-field-input-line-height,
                  var(--_input-text-line-height)
                )
            ) /
            2
        ) +
        var(--_container-focus-padding-block)
    )
    var(--_container-focus-padding-block);
  --_padding-inline-start: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );
  --_padding-inline-end: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );

  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template:
    'a L P I I S T z'
    's s s s c c c c' 0 /
    /* a */ var(--_padding-inline-start)
    /* L */ min-content
    /* P */ min-content
    /* I */ auto
    /* I */ auto
    /* S */ min-content
    /* T */ min-content
    /* z */ var(--_padding-inline-end);

  row-gap: 0;
}

/* TODO: ':host:has(.lead:has-slotted)' */
:host(:state(has-lead)) {
  --_padding-inline-start: var(
    --md-text-field-container-icon-padding-inline,
    var(--_container-icon-padding-inline)
  );
  --_leading-icon-gap: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );
  /* For correct calculations */
  --_leading-icon-size-actual: var(--_leading-icon-size);
}

/* TODO: ':host:has(.trail:has-slotted)' */
:host(:state(has-trail)) {
  --_padding-inline-end: var(
    --md-text-field-container-icon-padding-inline,
    var(--_container-icon-padding-inline)
  );
  --_trailing-icon-gap: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );
}

/* TODO: ':host:has(.support > :has-slotted)' */
:host(:state(has-support)),
:host(:state(has-counter)) {
  grid-template-rows: auto min-content;
  row-gap: var(
    --md-text-field-supporting-text-row-gap,
    var(--_supporting-text-row-gap)
  );
}

.layout,
.notched-outline {
  border-radius: var(--_container-shape-top-left)
    var(--_container-shape-top-right) var(--_container-shape-bottom-right)
    var(--_container-shape-bottom-left);
}

.notched-outline {
  grid-area: 1 / 1 / 2 / -1;
  background-color: var(--_container-color);
  opacity: var(--_container-opacity, 1);
  max-height: 100%;
  border-block-end: var(--_active-indicator-thickness) solid
    var(--_active-indicator-color);
}

/* =======================
 * Input
 * ======================= */
.input,
.input-polyfill {
  all: unset;
  grid-area: I;
  field-sizing: content;
  min-inline-size: 0;
  min-block-size: 1lh;
  inline-size: 100%;
  justify-self: stretch;
  font-family: var(--_input-text-font);
  font-weight: var(--_input-text-weight);
  font-size: var(--_input-text-size);
  line-height: var(
    --md-text-field-input-line-height,
    var(--_input-text-line-height)
  );
  color: var(--_input-text-color);
  caret-color: var(--_caret-color);
}

.input-polyfill {
  position: absolute;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  block-size: 0;
  contain: 'layout style';
}

/* =======================
 * Prefix, suffix, label
 * ======================= */

.prefix,
.suffix {
  &::slotted(*) {
    margin-block: var(--_filled-margin-block);
    transform: scaleY(0);
    transition: transform
      var(--md-text-field-focus-duration, var(--_focus-duration))
      var(--md-text-field-focus-easing, var(--_focus-easing));
    transform-origin: bottom;
    visibility: hidden;
  }
}

.prefix,
.suffix,
.label {
  font-family: var(--_label-text-font);
  font-weight: var(--_label-text-weight);
  font-size: var(--_label-text-size);
  line-height: var(--_label-text-line-height);
  letter-spacing: var(--_label-text-tracking);
  color: var(--_input-text-placeholder-color);
  text-wrap: nowrap;
}

.prefix::slotted(*) {
  grid-area: P;
  margin-inline-end: var(
    --md-text-field-prefix-gap,
    var(--_input-text-prefix-gap)
  );
}

.suffix::slotted(*) {
  grid-area: S;
  margin-inline-start: var(
    --md-text-field-suffix-gap,
    var(--_input-text-suffix-gap)
  );
}

:host(:state(populated)),
:host(:focus-within) {
  .prefix::slotted(*),
  .suffix::slotted(*) {
    transform: scaleY(1);
    visibility: visible;
  }
}

.label {
  position: absolute;
  grid-column: P / S; /* P I S */
  max-width: min-content;

  /* TODO: '&:has(:has-slotted)' */
  :host(:state(populated):state(has-label)) &,
  :host(:focus-within:state(has-label)) & {
    color: var(--_label-text-color);
    translate: 0
      calc(
        -1 *
          var(
            --md-text-field-input-line-height,
            var(--_input-text-line-height)
          ) +
          var(--_container-focus-padding-block)
      );
    scale: var(--_label-text-populated-scale);

    /*
    TODO: restore after https://bugzilla.mozilla.org/show_bug.cgi?id=1827404
    is closed.

    scale: calc(var(--_label-text-populated-size) / var(--_label-text-size));
    */
  }

  :host(:state(has-label)) & {
    transform-origin: bottom left;
    transition-property: translate, scale, font-size, color;
    transition-duration: var(
      --md-text-field-focus-duration,
      var(--_focus-duration)
    );
    transition-timing-function: var(
      --md-text-field-focus-easing,
      var(--_focus-easing)
    );
    margin-block: var(--_default-margin-block);
  }
}

/* =======================
 * Icons
 * ======================= */

.lead::slotted(*) {
  grid-area: L;
  color: var(--_leading-icon-color);
  font-size: var(--md-text-field-leading-icon-size, var(--_leading-icon-size));
  margin-block: var(--_default-margin-block);
  margin-inline-end: var(--_leading-icon-gap, 0);
}

.trail::slotted(*) {
  grid-area: T;
  color: var(--_trailing-icon-color);
  font-size: var(
    --md-text-field-trailing-icon-size,
    var(--_trailing-icon-size)
  );
  margin-block: var(--_default-margin-block);
  margin-inline-start: var(--_trailing-icon-gap, 0);
}

/* ===========================
 * Positioning
 * =========================== */
.input {
  margin-block: calc(
      (
          (
              var(--md-text-field-container-height, var(--_container-height)) -
                var(
                  --md-text-field-input-line-height,
                  var(--_input-text-line-height)
                )
            ) /
            2
        ) +
        var(--_container-focus-padding-block)
    )
    var(--_container-focus-padding-block);
}

/* ===========================
 * Supporting text & counter
 * =========================== */

.support,
.counter {
  color: var(--_supporting-text-color);
  font-family: var(--_supporting-text-font);
  font-size: var(--_supporting-text-size);
  font-weight: var(--_supporting-text-weight);
  line-height: var(--_supporting-text-line-height);
}

.support {
  grid-area: s;
  padding-inline-start: var(--_supporting-text-padding-inline);
}

.counter {
  grid-area: c;
  display: flex;
  justify-content: end;
  padding-inline: var(--_supporting-text-column-gap)
    var(--_supporting-text-padding-inline);
}
