@use 'sass:meta';
@use 'sass:list';
@use '~@sass-fairy/string/string';
@use '../core/utils/map';
@use 'utils' as *;

@function public-vars($tokens) {
  @return filter-nulls(
    (
      'container-width': map.get($tokens, 'container-width'),
      'container-height': map.get($tokens, 'container-height'),
      'container-color': map.get($tokens, 'container-color'),
      'icon-size': map.get($tokens, 'icon-size'),
      'icon-color': map.get($tokens, 'icon-color'),
    )
  );
}

@function private-vars($tokens) {
  $label-text: map.get($tokens, 'label-text') or ();

  @return filter-nulls(
    (
      'container-shape': map.get($tokens, 'container-shape'),
      'shadow-color': map.get($tokens, 'container-shadow-color'),
      'state-layer-color': map.get($tokens, 'state-layer-color'),
      'state-layer-opacity': map.get($tokens, 'state-layer-opacity'),
    )
  );
}

@function state-vars($state-map, $prefix, $exclusion-maps...) {
  $state-tokens: extend($state-map, $exclusion-maps...);
  @debug debug($state-tokens);
  $state-public-vars: append-public-prefix(public-vars($state-tokens), $prefix);
  $state-private-vars: private-vars($state-tokens);
  @return map.merge($state-public-vars, $state-private-vars);
}

@function -group-callback($key) {
  $groups: ();
  $remaining: $key;

  @if string.includes($remaining, 'focused-') {
    $groups: list.append($groups, 'focused');
    $remaining: string.replace($remaining, 'focused-', '');
  } @else if string.includes($remaining, 'hovered-') {
    $groups: list.append($groups, 'hovered');
    $remaining: string.replace($remaining, 'hovered-', '');
  } @else if string.includes($remaining, 'pressed-') {
    $groups: list.append($groups, 'pressed');
    $remaining: string.replace($remaining, 'pressed-', '');
  } @else {
    $groups: list.append($groups, 'default');
  }

  @return ($groups, $remaining);
}

@function group-fabs($map) {
  @return group($map, meta.get-function('-group-callback'));
}
