.ripple {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    position: absolute;
    opacity: 0;
    inset: 0;
    background-color: var(--_ripple-color);
    transition:
      opacity 15ms linear,
      background-color 15ms linear;
  }

  :host(:hover) &::before {
    opacity: var(--_ripple-opacity);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: var(--_ripple-opacity);
    border-radius: 50%;
    background-color: var(--_ripple-color);
    transform-origin: center center;
  }

  :host([disabled]) & {
    display: none;
  }

  @media (forced-colors: active) {
    & {
      display: none;
    }
  }
}
