:host([extended]) {
  .host {
    color: var(--_label-text-color);
    line-height: var(--_label-text-line-height);
    font-family: var(--_label-text-font-name);
    font-weight: var(--_label-text-font-weight);
    flex-direction: var(--_direction);
    cursor: default;
    user-select: none;
    gap: 0;
    transition: gap var(--_unfold-duration) var(--_unfold-easing);
  }

  .label {
    display: block;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    transition: var(--_unfold-duration) var(--_unfold-easing);
    transition-property: font-size, opacity;
  }

  @supports (width: calc-size(min-content, size)) {
    .label {
      width: 0;
      font-size: var(--_label-text-font-size);
      transition-property: width, opacity;
    }
  }
}

:host([extended='open']) {
  .host {
    gap: var(--_icon-label-space);
  }

  .label {
    opacity: 1;
    font-size: var(--_label-text-font-size);
  }

  @supports (width: calc-size(min-content, size)) {
    .label {
      width: calc-size(min-content, size);
    }
  }
}
