:host([extended]) {
  .host {
    display: inline-grid;
    grid-template-columns: var(--_icon-size) 0fr;
    place-content: start;
    color: var(--_label-text-color);
    line-height: var(--_label-text-line-height);
    font-family: var(--_label-text-font-name);
    font-weight: var(--_label-text-font-weight);
    cursor: default;
    user-select: none;
    gap: 0;
    transition-property: grid-template-columns, gap;
    transition: var(--_unfold-duration) var(--_unfold-easing);
  }

  .icon {
    grid-column: 1;
  }

  .label {
    grid-column: 2;
    opacity: 0;
    display: block;
    min-inline-size: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--_label-text-font-size);
    transition: var(--_unfold-duration) var(--_unfold-easing);
    transition-property: opacity;
  }
}

:host([extended='open']) {
  .host {
    grid-template-columns: var(--_icon-size) 1fr;
    gap: var(--_icon-label-space);
  }

  .label {
    opacity: 1;
  }
}
