:host([extended]) {
  .host {
    display: inline-grid;
    grid-template-columns: var(--md-fab-icon-size, var(--_icon-size)) 0;
    justify-content: start;
    align-items: center;
    color: var(--_label-text-color);
    line-height: var(--_label-text-line-height);
    font-family: var(--_label-text-font-name);
    font-weight: var(--_label-text-font-weight);
    cursor: default;
    user-select: none;
    gap: 0;
    transition-property: grid-template-columns, gap;
    transition: var(--md-fab-unfold-duration, var(--_unfold-duration))
      var(--md-fab-unfold-easing, var(--_unfold-easing));
  }

  .icon {
    grid-column: 1;
    display: block;
  }

  .label {
    grid-column: 2;
    display: block;

    &::slotted(*) {
      opacity: 0;
      min-inline-size: 0;
      white-space: nowrap;
      overflow: hidden;
      font-size: var(--_label-text-font-size);
      transition: var(--md-fab-unfold-duration, var(--_unfold-duration))
        var(--md-fab-unfold-easing, var(--_unfold-easing));
      transition-property: opacity;
    }
  }
}

:host([extended='open']) {
  .host {
    grid-template-columns: var(--md-fab-icon-size, var(--_icon-size)) 1fr;
    gap: var(--md-fab-icon-label-space, var(--_icon-label-space));
  }

  .label {
    opacity: 1;
  }
}
