@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

$unselected-vars: multi-state-vars(
  $unselected,
  'md-#{$color}-button-unselected'
);
$selected-vars: multi-state-vars($selected, 'md-#{$color}-button-selected');

$color-param: color($color);

@include unselected-states($unselected-vars, $color-param) using ($state) {
}
@include selected-states($selected-vars, $color-param) using ($state) {
}
