:host {
  --_level: var(--_elevation-default);
  transition: --_level var(--_unfold-duration) var(--_unfold-easing);
  display: contents;
}

:host:has(.host:hover) {
  --_level: var(--_elevation-hovered);
}

.host {
  all: initial;
  display: inline-flex;
  background-color: var(--_container-color);
  border-radius: var(--_container-shape);
  justify-content: center;
  align-items: center;
  padding-block: calc((var(--_container-height) - var(--_icon-size)) / 2);
  padding-inline: calc((var(--_container-width) - var(--_icon-size)) / 2);

  &::before,
  &::after {
    content: '';
  }
}

.icon::slotted(*) {
  color: var(--_icon-color);
  font-size: var(--_icon-size);
}
