:host {
  --_level: calc(
    var(--_elevation-default) +
      (var(--_elevation-hovered) - var(--_elevation-default)) *
      var(--_press-factor)
  );
}

.host {
  all: initial;
  display: inline-flex;
  background-color: var(--_container-color);
  border-radius: var(--_container-shape);
  justify-content: center;
  align-items: center;
  padding-block: calc((var(--_container-height) - var(--_icon-size)) / 2);
  padding-inline: calc((var(--_container-width) - var(--_icon-size)) / 2);

  &::before,
  &::after {
    content: '';
  }
}

.icon::slotted(*) {
  color: var(--_icon-color);
  font-size: var(--_icon-size);
}
