:host {
  --_level: calc(
    var(--_elevation-default) +
      (var(--_elevation-hovered) - var(--_elevation-default)) *
      var(--_press-factor)
  );

  display: inline-flex;
  background-color: var(--_container-color);
  border-radius: var(--_container-shape);
  justify-content: center;
  align-items: center;
  padding-block: calc((var(--_container-height) - var(--_icon-size)) / 2);
  padding-inline: calc((var(--_container-width) - var(--_icon-size)) / 2);
}

:host::before,
:host::after {
  content: '';
}

.icon {
  /* TODO: switch mx-icon to --_icon-size. */
  --md-icon-size: var(--_icon-size);

  color: var(--_icon-color);
}
