@use '../../core/tokens/md-comp-button';
@use '../utils' as *;
@use '../vars' as *;

$round-tokens: (
  'container-shape-default': var(--_container-shape-round),
  'container-shape-pressed': var(--_container-shape-square),
);

$round: $round-tokens;

$square-tokens: (
  'container-shape-default': var(--_container-shape-square),
  'container-shape-pressed': var(--_container-shape-round),
);

$square: $square-tokens;
