:host(:disabled) {
  &::before {
    opacity: var(--_container-opacity);
  }

  .lead,
  .trail,
  .support,
  .label,
  .counter {
    &.has-slotted,
    &:has(.has-slotted) {
      color: var(--_label-text-color);
      fill: var(--_label-text-color);
      opacity: var(--_label-text-opacity);
    }
  }
}
