:host {
  --_default-margin-block: calc(
    (
        var(--md-text-field-container-height, var(--_container-height)) -
          var(--md-text-field-input-line-height, var(--_input-text-line-height))
      ) /
      2
  );

  display: grid;
  grid-template-areas:
    '. lead . prefix . field . suffix . trail .'
    '. support support support support support support support counter counter .';
  grid-template-columns:
    var(
      --_padding-inline-start,
      var(
        --md-text-field-container-padding-inline,
        var(--_container-padding-inline)
      )
    )
    var(--md-text-field-leading-icon-size, var(--_leading-icon-size))
    var(--_lead-icon-gap, 0)
    min-content
    var(--_prefix-gap, 0)
    1fr
    var(--_suffix-gap, 0)
    min-content
    var(--_trail-icon-gap, 0)
    var(--md-text-field-trailing-icon-size, var(--_trailing-icon-size))
    var(
      --_padding-inline-end,
      var(
        --md-text-field-container-padding-inline,
        var(--_container-padding-inline)
      )
    );
  grid-template-rows: auto 0;
  position: relative;

  &::before {
    content: '';
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--_container-color);
    border-radius: var(--_container-shape-top-left)
      var(--_container-shape-top-right) var(--_container-shape-bottom-right)
      var(--_container-shape-bottom-left);
    border-block-end: var(--_active-indicator-thickness) solid
      var(--_active-indicator-color);
  }
}

/* TODO: ':host:has(.lead:has-slotted)' */
:host(:state(has-lead)) {
  --_padding-inline-start: var(
    --md-text-field-container-icon-padding-inline,
    var(--_container-icon-padding-inline)
  );
  --_lead-icon-gap: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );
}

/* TODO: ':host:has(.trail:has-slotted)' */
:host(:state(has-trail)) {
  --_padding-inline-end: var(
    --md-text-field-container-icon-padding-inline,
    var(--_container-icon-padding-inline)
  );
  --_trail-icon-gap: var(
    --md-text-field-container-padding-inline,
    var(--_container-padding-inline)
  );
}

/* TODO: ':host:has(.prefix:has-slotted)' */
:host(:state(has-prefix)) {
  --_prefix-gap: var(--md-text-field-prefix-gap, var(--_input-text-prefix-gap));
}

/* TODO: ':host:has(.suffix:has-slotted)' */
:host(:state(has-suffix)) {
  --_suffix-gap: var(--md-text-field-suffix-gap, var(--_input-text-suffix-gap));
}

/* TODO: ':host:has(.support > :has-slotted)' */
:host(:state(has-support)) {
  grid-template-rows: auto min-content;
}

.presenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
}

/* =======================
 * Input
 * ======================= */
.input,
.input-polyfill {
  all: unset;
  field-sizing: content;
  min-inline-size: 0;
  inline-size: 100%;
  grid-area: field;
  justify-self: stretch;
  font-family: var(--_input-text-font);
  font-weight: var(--_input-text-weight);
  font-size: var(--_input-text-size);
  line-height: var(
    --md-text-field-input-line-height,
    var(--_input-text-line-height)
  );
  color: var(--_input-text-color);
  caret-color: var(--_caret-color);
}

.input-polyfill {
  position: absolute;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  block-size: 0;
  contain: 'layout style';
}

/* =======================
 * Prefix, suffix, label
 * ======================= */

.prefix,
.suffix {
  transform: scaleY(0);
  transition: transform
    var(--md-text-field-focus-duration, var(--_focus-duration))
    var(--md-text-field-focus-easing, var(--_focus-easing));
  transform-origin: bottom;
  visibility: hidden;
}

.prefix,
.suffix,
.label {
  font-family: var(--_label-text-font);
  font-weight: var(--_label-text-weight);
  font-size: var(--_label-text-size);
  line-height: var(--_label-text-line-height);
  letter-spacing: var(--_label-text-tracking);
  color: var(--_input-text-placeholder-color);
  text-wrap: nowrap;
}
/* TODO: '.prefix:has-slotted' */
:host(:state(has-prefix)) .prefix {
  grid-area: prefix;
}

/* TODO: '.suffix:has-slotted' */
:host(:state(has-suffix)) .suffix {
  grid-area: suffix;
}

/* TODO: '.label:has(:has-slotted)' */
:host(:state(has-label)) .label {
  position: absolute;
  grid-area: prefix / prefix / prefix / suffix;
  transform-origin: bottom left;
  transition-property: translate, scale, font-size, color;
  transition-duration: var(
    --md-text-field-focus-duration,
    var(--_focus-duration)
  );
  transition-timing-function: var(
    --md-text-field-focus-easing,
    var(--_focus-easing)
  );
}

/* =======================
 * Icons
 * ======================= */

/* TODO: '.lead:has-slotted' */
:host(:state(has-lead)) .lead {
  grid-area: lead;
  color: var(--_leading-icon-color);
  font-size: var(--md-text-field-leading-icon-size, var(--_leading-icon-size));
}

/* TODO: '.trail:has-slotted' */
:host(:state(has-trail)) .trail {
  grid-area: trail;
  color: var(--_trailing-icon-color);
  font-size: var(
    --md-text-field-trailing-icon-size,
    var(--_trailing-icon-size)
  );
}

/* ===========================
 * Positioning
 * =========================== */
/* TODO: '.label:has(:has-slotted), .lead:has-slotted, .trail:has-slotted' */
:host(:state(has-label)) .label,
:host(:state(has-lead)) .lead,
:host(:state(has-trail)) .trail {
  margin-block: var(--_default-margin-block);
}

/* TODO: '.input, .suffix:has-slotted, .prefix:has-slotted' */
.input,
:host(:state(has-prefix)) .prefix,
:host(:state(has-suffix)) .suffix {
  margin-block: calc(
      (
          (
              var(--md-text-field-container-height, var(--_container-height)) -
                var(
                  --md-text-field-input-line-height,
                  var(--_input-text-line-height)
                )
            ) /
            2
        ) +
        var(--_container-focus-padding-block)
    )
    var(--_container-focus-padding-block);
}

/* ===========================
 * Supporting text & counter
 * =========================== */

.support,
.counter {
  padding-block-start: var(
    --md-text-field-supporting-text-gap,
    var(--_supporting-text-gap)
  );
  color: var(--_supporting-text-color);
  font-family: var(--_supporting-text-font);
  font-size: var(--_supporting-text-size);
  font-weight: var(--_supporting-text-weight);
  line-height: var(--_supporting-text-line-height);
}

/* TODO: '.support:has(:has-slotted)' */
:host(:state(has-support)) .support {
  grid-area: support;
}

/* TODO: '.counter:has(:has-slotted)' */
:host(:state(has-counter)) .counter {
  grid-area: counter;
}

/* ===========================
 * Focused / Populated
 * =========================== */

:host(:state(populated):state(has-label)),
:host(:focus-within:state(has-label)) {
  .label {
    color: var(--_label-text-color);
    translate: 0
      calc(
        -1 *
          var(
            --md-text-field-input-line-height,
            var(--_input-text-line-height)
          ) +
          var(--_container-focus-padding-block)
      );
    scale: var(--_label-text-populated-scale);

    /*
    TODO: restore after https://bugzilla.mozilla.org/show_bug.cgi?id=1827404
    is closed.

    scale: calc(var(--_label-text-populated-size) / var(--_label-text-size));
    */
  }
}

:host(:state(populated):state(has-prefix)) .prefix,
:host(:focus-within:state(has-prefix)) .prefix,
:host(:state(populated):state(has-suffix)) .suffix,
:host(:focus-within:state(has-suffix)) .suffix {
  transform: scaleY(1);
  visibility: visible;
}

.input[hidden] {
  display: none;
}
