@use 'sass:meta';
@use 'sass:string';
@use '../../core/tokens/md-comp-button-text';
@use '../../core/utils/map';
@use '../../core/utils/functions' as *;
@use '../default/meta' as default;
@use '../utils' as *;
@use '../vars' as *;

$color: 'text';

$-groups: group-buttons(md-comp-button-text.$map);

$default: pick-unique(map.get($-groups, 'default'), default.$default);
$special: (
  'container-color': transparent,
);

$hovered: pick-unique(map.get($-groups, 'hovered'), $default, default.$default);

$focused: pick-unique(map.get($-groups, 'focused'), $default, default.$default);

$pressed: pick-unique(map.get($-groups, 'pressed'), $default, default.$default);

@function -map-special-state-vars($key, $value, $-void...) {
  @return ($key, pick-unique($value, $default, default.$default));
}
$-map-special-state-vars-callback: meta.get-function('-map-special-state-vars');

$unselected: map.map(
  map.get($-groups, 'unselected') or (),
  $-map-special-state-vars-callback
);

$selected: map.map(
  map.get($-groups, 'selected') or (),
  $-map-special-state-vars-callback
);
