@use 'sass:map';
@use 'sass:string';
@use '../../core/tokens/md-comp-button' as default-tokens;
@use '../../core/tokens/md-comp-button-text' as tokens;
@use '../../core/utils/functions' as *;
@use '../vars' as *;
@use '../utils' as *;

$_tokens: prepare-tokens(pick-unique(tokens.$values, default-tokens.$values));

$_default: map.get($_tokens, 'default');
$_hovered: map.get($_tokens, 'hovered');
$_focused: map.get($_tokens, 'focused');
$_pressed: map.get($_tokens, 'pressed');
$_disabled: map.get($_tokens, 'disabled');
$_unselected: map.get($_tokens, 'unselected');
$_selected: map.get($_tokens, 'selected');

$flavor: string.unquote('flavor="text"');

$default: collect-vars($_default, $public, $private, 'md-button-text-default');

$hovered: collect-vars($_hovered, $public, $private, 'md-button-text-hovered');

$focused: collect-vars($_focused, $public, $private, 'md-button-text-focused');

$pressed: collect-vars($_pressed, $public, $private, 'md-button-text-pressed');

$unselected: collect-vars(
  $_unselected,
  $public,
  $private,
  'md-button-text-unselected'
);

$selected: collect-vars(
  $_selected,
  $public,
  $private,
  'md-button-text-selected'
);
