@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

$default-vars: map.merge(state-vars($default, 'md-#{$color}-button'), $special);
$hovered-vars: state-vars($hovered, 'md-#{$color}-button-hovered');
$focused-vars: state-vars($focused, 'md-#{$color}-button-focused');
$pressed-vars: state-vars($pressed, 'md-#{$color}-button-pressed');

$color-param: color($color);

@include default-state($default-vars, $color-param) {
}
@include hovered-state($hovered-vars, $color-param) {
}
@include focused-state($focused-vars, $color-param) {
}
@include pressed-state($pressed-vars, $color-param) {
}
