@use 'sass:map';
@use '../../core/utils/functions' as funcs;
@use '../../core/tokens/md-comp-button' as tokens;
@use '../../core/tokens/md-sys-motion' as motion-tokens;
@use '../../core/defaults/motion-effects' as motion-effects;
@use '../utils' as *;

$hovered: funcs.pick-unique(tokens.$hovered, tokens.$default);
$focused: funcs.pick-unique(tokens.$focused, tokens.$default);
$pressed: funcs.pick-unique(tokens.$pressed, tokens.$default);
$disabled: funcs.pick-unique(tokens.$disabled, tokens.$default);
$unselected: funcs.pick-unique(tokens.$unselected, tokens.$default);
$selected: funcs.pick-unique(tokens.$selected, tokens.$default);

@mixin main {
  :host {
    @include tokens-as-private-vars(tokens.$default);
    --_container-shape: var(--_container-shape-round);
    --_motion-effect: #{motion-effects.$expressive-fast-effects};
    --_motion-duration: #{motion-effects.$expressive-fast-effects-duration};
    --_token-shape-full: calc(var(--_container-height) / 2);

    display: inline-flex;
    cursor: default;
    user-select: none;
    background-color: var(--_container-color);
    color: var(--_label-text-color);
    padding-block: calc((var(--_container-height) - max(var(--_icon-size), var(--_label-text-line-height))) / 2);
    padding-inline-start: var(--_leading-space);
    padding-inline-end: var(--_trailing-space);
    border-radius: var(--_container-shape);
    font: var(--_label-text);
    place-items: center;
    place-content: center;
    gap: 8px;
    transition: border-radius var(--_motion-duration) var(--_motion-effect);
  }

  :host(:hover),
  :host(:focus-visible),
  :host(:active) {
    $opacity: calc(var(--_state-layer-opacity) * 100%);
    background-color: color-mix(
      in srgb,
      var(--_container-color),
      var(--_state-layer-color) #{$opacity}
    );
    color: color-mix(
      in srgb,
      var(--_label-text-color),
      var(--_state-layer-color) #{$opacity}
    );
  }

  :host(:hover) {
    @include tokens-as-private-vars($hovered);
  }

  :host(:focus-visible) {
    @include tokens-as-private-vars($focused);

    outline: var(--_focus-indicator-thickness) solid
      var(--_focus-indicator-color);
    outline-offset: var(--_focus-indicator-outline-offset);
  }

  :host(:active) {
    @include tokens-as-private-vars($pressed);
  }

  slot[name='icon'] {
    flex: 1 0 var(--_icon-size);
  }
}

@mixin disabled {
  :host([disabled]) {
    @include tokens-as-private-vars($disabled);

    $container-opacity-amount: calc(
      100% - var(--_disabled-container-opacity) * 100%
    );
    $label-text-opacity: calc(
      100% - var(--_disabled-label-text-opacity) * 100%
    );

    background-color: color-mix(
      in srgb,
      var(--_disabled-container-color),
      transparent #{$container-opacity-amount}
    );
    color: color-mix(
      in srgb,
      var(--_disabled-label-text-color),
      transparent #{$label-text-opacity}
    );
    cursor: default;
    pointer-events: none;
    outline: none;
  }
}

@mixin switch {
  :host {
    @include tokens-as-private-vars($unselected);
  }

  :host([checked]) {
    @include tokens-as-private-vars($selected);
  }
}
