@use '../../core/tokens/md-comp-button' as default-tokens;
@use '../../core/tokens/md-comp-button-elevated' as tokens;
@use '../../core/utils/functions' as funcs;
@use '../../core/utils/map';
@use '../utils' as *;

$default: funcs.pick-unique(tokens.$default, default-tokens.$default);
$hovered: funcs.pick-unique(tokens.$hovered, default-tokens.$hovered);
$focused: funcs.pick-unique(tokens.$focused, default-tokens.$focused);
$pressed: funcs.pick-unique(tokens.$pressed, default-tokens.$pressed);
$unselected: funcs.pick-unique(tokens.$unselected, default-tokens.$unselected);
$selected: funcs.pick-unique(tokens.$selected, default-tokens.$selected);

@mixin main {
  :host([flavor="elevated"]) {
    @include tokens-as-private-vars($default);
    --_level: var(--_container-elevation);

    &::before, &::after {
      content: '';
    }
  }

  @if map.size($hovered) > 0 {
    :host([flavor="elevated"]:hover) {
      @include tokens-as-private-vars($hovered, ('container-elevation',));
    }
  }

  @if map.size($focused) > 0 {
    :host([flavor="elevated"]:focus-visible) {
      @include tokens-as-private-vars($focused);
    }
  }

  @if map.size($pressed) > 0 {
    :host([flavor="elevated"]:active) {
      @include tokens-as-private-vars($pressed);
    }
  }
}

@mixin switch {
  @if map.size($unselected) > 0 {
    :host([flavor="elevated"][unselected]) {
      @include tokens-as-private-vars($unselected, default-tokens.$unselected);
    }
  }

  @if map.size($selected) > 0 {
    :host([flavor="elevated"][selected]) {
      @include tokens-as-private-vars($selected, default-tokens.$selected);
    }
  }
}
