@use '../../core/tokens/md-comp-button' as default-tokens;
@use '../../core/tokens/md-comp-button-text' as tokens;
@use '../../core/utils/functions' as funcs;
@use '../../core/utils/map';
@use '../utils' as *;

$default: funcs.pick-unique(tokens.$default, default-tokens.$default);
$hovered: funcs.pick-unique(tokens.$hovered, default-tokens.$hovered);
$focused: funcs.pick-unique(tokens.$focused, default-tokens.$focused);
$pressed: funcs.pick-unique(tokens.$pressed, default-tokens.$pressed);

@mixin main {
  :host([flavor='text']) {
    @include tokens-as-private-vars($default);
    --_container-color: transparent;
  }

  :host([flavor="text"]:hover) {
    @include tokens-as-private-vars($hovered);
  }

  :host([flavor="text"]:focus-visible) {
    @include tokens-as-private-vars($focused);
  }

  :host([flavor="text"]:active) {
    @include tokens-as-private-vars($pressed);
  }
}
