:host([color='outlined']),
:host(:state(outlined):not([color])) {
  .host {
    border: var(--_outline-width) solid var(--_outline-color);
  }
}

:host([color='outlined']),
:host([color='outlined']),
:host(:state(outlined):not([color])),
:host(:state(outlined):not([color])) {
  .host::before,
  .host::after {
    content: '';
  }
}
