@use 'sass:meta';
@use '../../core/tokens/md-comp-button';
@use '../../core/utils/map';
@use '../vars' as *;

$groups: group-buttons(md-comp-button.$map);

$default: map.merge(
  public-vars(map.get($groups, 'default'), 'md-button'),
  private-vars(map.get($groups, 'default'))
);

@function _vars-filter($item, $index, $map, $_...) {
  @return map.get($default, $item) != map.get($map, $item);
}

$filter-callback: meta.get-function('_vars-filter');

$hovered: state-vars(
  map.get($groups, 'hovered'),
  'md-button-hovered',
  $filter-callback
);
$focused: state-vars(
  map.get($groups, 'focused'),
  'md-button-focused',
  $filter-callback
);
$pressed: state-vars(
  map.get($groups, 'pressed'),
  'md-button-pressed',
  $filter-callback
);
$disabled: state-vars(
  map.get($groups, 'disabled'),
  'md-button-disabled',
  $filter-callback
);

$unselected: special-state-vars(
  map.get($groups, 'unselected') or (),
  'md-button-unselected',
  $filter-callback
);

$selected: special-state-vars(
  map.get($groups, 'selected') or (),
  'md-button-selected',
  $filter-callback
);
