@use 'sass:list';
@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

@include default-state(state-vars($default, 'md-button')) {
  display: inline-flex;
  cursor: default;
  user-select: none;
  background-color: var(--_container-color);
  color: var(--_label-text-color);
  padding-block: var(--_padding-block);
  padding-inline-start: var(--_leading-space);
  padding-inline-end: var(--_trailing-space);
  border-radius: calc(
    var(--_container-shape-default) -
      (var(--_container-shape-default) - var(--_container-shape-pressed)) *
      var(--_spring-factor)
  );
  font-weight: var(--_label-text-weight);
  font-size: var(--_label-text-size);
  line-height: var(--_label-text-line-height);
  font-family: var(--_label-text-font);
  place-items: center;
  place-content: center;
  position: relative;
  gap: 8px;
}

@include hovered-state(state-vars($hovered, 'md-button-hovered')) {
  $opacity: calc(var(--_state-layer-opacity) * 100%);
  background-color: color-mix(
    in srgb,
    var(--_container-color),
    var(--_state-layer-color) #{$opacity}
  );
}

@include focused-state(state-vars($focused, 'md-button-focused')) {
  outline: var(--_focus-indicator-thickness) solid var(--_focus-indicator-color);
  outline-offset: var(--_focus-indicator-outline-offset);
}

@include pressed-state(state-vars($pressed, 'md-button-pressed')) {
}

slot[name='icon'] {
  color: var(--_icon-color);
  flex: 1 0 var(--_icon-size);
}
