input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.steppers {
  display: none;
  flex-direction: column;
  align-self: center;

  mx-icon {
    height: 10px;
    color: var(--_icon-color);
  }
}

:host([type='number']) {
  .steppers {
    grid-area: steppers;
    display: flex;
  }
}
