@use 'sass:map';
@use '../defaults/refs' as refs;
@use '../tokens/md-sys-elevation';
@use '../tokens/md-sys-color';

$level: var(--_level);

@function multiply($multiplier) {
  @return calc(#{$level} * #{$multiplier}px);
}

@function mix($percent) {
  @return color-mix(in srgb, var(--_shadow-color) #{$percent}, transparent);
}

$umbra-offset: multiply(0.5);
$umbra-blur: multiply(0.7);
$umbra-color: mix(20%);

$penumbra-offset: multiply(0.75);
$penumbra-blur: multiply(1.5);
$penumbra-color: mix(14%);

$ambient-offset: multiply(1.5);
$ambient-blur: multiply(2);
$ambient-color: mix(12%);

$umbra: 0 $umbra-offset $umbra-blur 0 $umbra-color;
$penumbra: 0 $penumbra-offset $penumbra-blur 0 $penumbra-color;
$ambient: 0 $ambient-offset $ambient-blur 0 $ambient-color;

:host {
  --_level: var(--md-elevation-level, #{md-sys-elevation.$level0});
  --_shadow-color: var(
    --md-elevation-shadow-color,
    #{md-sys-color.$surface-tint}
  );

  position: relative;
  box-shadow: $penumbra;

  &::before,
  &::after {
    border-radius: inherit;
    inset: 0;
    position: absolute;
    transition-duration: inherit;
    transition-timing-function: inherit;
    transition-property: box-shadow;
    pointer-events: none;
  }

  &::before {
    box-shadow: $umbra;
  }

  &::after {
    box-shadow: $ambient;
  }
}
