:host {
  padding: 0;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
  padding-block: var(--_padding-block);
  padding-inline-start: var(--_leading-space);
  padding-inline-end: var(--_trailing-space);
  user-select: none;
}
