#steppers {
  display: none;
  flex-direction: column;
  align-self: center;

  mx-icon {
    height: 10px;
    color: var(--_icon-color);
  }
}

:host([mode='numeric']) #steppers {
  grid-area: steppers;
  display: flex;
}
