.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  font-family: var(--md-ref-typeface-brand);
}

.row {
  background: color-mix(
    in srgb,
    var(--md-sys-color-secondary-container) 20%,
    transparent
  );
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1.5px 1.5px 0
    color-mix(in srgb, var(--md-sys-color-surface-tint) 14%, transparent);

  h3 {
    color: var(--md-sys-color-primary);
    margin: 0;
  }

  section {
    margin-block-start: 20px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.group-of-elements {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
