@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

@include default-state($default) {
  &::before,
  &::after {
    content: '';
  }

  display: inline-flex;
  width: var(--_container-width);
  height: var(--_container-height);
  background-color: var(--_container-color);
  border-radius: var(--_container-shape);
  justify-content: center;
  align-items: center;
}

@include hovered-state($hovered);
@include focused-state($focused);
@include pressed-state($pressed);

slot::slotted(*) {
  --md-icon-size: var(--_icon-size);

  color: var(--_icon-color);
}
