@use 'sass:map';
@use '../utils' as *;
@use 'meta' as *;

@include default-state($default) {
  &::before,
  &::after {
    content: '';
  }

  display: inline-flex;
  background-color: var(--_container-color);
  border-radius: var(--_container-shape);
  justify-content: center;
  align-items: center;
  padding-block: calc((var(--_container-height) - var(--_icon-size)) / 2);
  padding-inline: calc((var(--_container-width) - var(--_icon-size)) / 2);
}

@include hovered-state($hovered);
@include focused-state($focused);
@include pressed-state($pressed);

slot[name='icon'] {
  --md-icon-size: var(--_icon-size);

  color: var(--_icon-color);
}
