:host([outlined]) {
  &::before {
    background: none;
    border: var(--_outline-width) solid var(--_outline-color);
    border-radius: var(--_container-shape);
  }
}

:host([outlined]) .input,
:host([outlined]:state(has-suffix)) .suffix,
:host([outlined]:state(has-prefix)) .prefix {
  margin-block: var(--_default-margin-block);
}

:host([outlined]:focus-within:state(has-label)),
:host([outlined]:state(populated):state(has-label)) {
  .label {
    background: var(--md-text-field-notch-bg, canvas);
    padding: 0 var(--_label-populated-padding);

    /*
     * Since the populated label should be placed at the border of the text
     * field, we have to do some sophisticated computations here.
     */
    translate: calc(
        -1 *
          (
            var(
                --_padding-inline-start,
                var(
                  --md-text-field-container-padding-inline,
                  var(--_container-padding-inline)
                )
              ) +
              var(
                --md-text-field-leading-icon-size,
                var(--_leading-icon-size, 0px)
              ) +
              var(--_lead-icon-gap, 0px) - var(--_label-populated-space)
          )
      )
      calc(
        -1 *
          (
            var(--md-text-field-container-height, var(--_container-height)) / 2
          ) -
          var(--_outline-width-max)
      );
  }
}
