:host([outlined]) {
  &::before {
    background: none;
    border: var(--_outline-width) solid var(--_outline-color);
    border-radius: var(--_container-shape);
  }

  .input,
  .suffix.has-slotted,
  .prefix.has-slotted {
    margin-block: var(--_default-margin-block);
  }
}

:host([outlined]:focus-within),
:host([outlined]:state(populated)) {
  .label:has(.has-slotted) {
    background: var(--md-outlined-text-field-notch-bg, canvas);
    padding: 0 var(--_label-populated-padding);

    /*
     * Since the populated label should be placed at the border of the text
     * field, we have to do some sophisticated computations here.
     */
    translate: calc(
        -1 *
          (
            var(--_padding-inline-start, var(--_container-padding-inline)) +
              var(--_leading-icon-size, 0px) + var(--_lead-icon-gap, 0px) -
              var(--_label-populated-space)
          )
      )
      calc(-1 * (var(--_container-height) / 2) - var(--_outline-width-max));
  }
}
