:host([outlined]) {
  .notched-outline {
    --_notched-outline-border: var(--_outline-width) solid var(--_outline-color);
    --_notched-outline-border-radius: var(--_container-shape);
    --_notched-outline-notch-padding: var(--_label-populated-padding);
    --_notched-outline-start-width: calc(
      var(--_label-populated-space) - var(--_outline-width)
    );
    --_notched-outline-notch-scale: var(--_label-text-populated-scale);
    --_notched-outline-transition-easing: var(--_outline-transition-easing);
    --_notched-outline-transition-duration: var(--_outline-transition-duration);

    background: none;
    border: none;
  }
}

:host([outlined]) .input,
:host([outlined]:state(has-suffix)) .suffix,
:host([outlined]:state(has-prefix)) .prefix {
  margin-block: var(--_default-margin-block);
}

:host([outlined]:focus-within:state(has-label)),
:host([outlined]:state(populated):state(has-label)) {
  .notched-outline {
    --_notched-outline-notch-open: 1;
  }

  .label {
    /*
     * Since the populated label should be placed at the border of the text
     * field, we have to do some sophisticated computations here.
     */
    translate: calc(
        var(--_label-populated-space) + var(--_label-populated-padding) -
          var(
            --_padding-inline-start,
            var(
              --md-text-field-container-padding-inline,
              var(--_container-padding-inline)
            )
          ) -
          var(
            --md-text-field-leading-icon-size,
            var(--_leading-icon-size, 0px)
          ) -
          var(--_lead-icon-gap, 0px)
      )
      calc(
        -1 *
          (
            var(--md-text-field-container-height, var(--_container-height)) / 2
          ) -
          var(--_outline-width-max)
      );
  }
}
