@use 'sass:meta';
@use '../../core/tokens/md-comp-fab';
@use '../../core/tokens/md-comp-fab-tertiary';
@use '../../core/tokens/md-sys-motion';
@use '../../core/defaults/motion-effects';
@use '../../core/utils/map';
@use '../utils' as *;
@use '../vars' as *;

$-groups: group-fabs(map.merge(md-comp-fab.$map, md-comp-fab-tertiary.$map));

$default-tokens: map.get($-groups, 'default');
$special-tokens: (
  'elevation-default': map.get($-groups, 'default', 'container-elevation'),
  'elevation-hovered': map.get($-groups, 'hovered', 'container-elevation'),
  'state-layer-color': map.get($-groups, 'pressed', 'state-layer-color'),
  'state-layer-opacity': map.get($-groups, 'pressed', 'state-layer-opacity'),
  'press-factor': 0,
  'unfold-factor': 0,
  'level': calc(
      var(--_elevation-default) +
        (var(--_elevation-hovered) - var(--_elevation-default)) *
        var(--_press-factor)
    ),
  'press-damping': md-sys-motion.$spring-fast-spatial-damping,
  'press-stiffness': md-sys-motion.$spring-fast-spatial-stiffness,
  'press-duration': motion-effects.$expressive-fast-effects-duration,
  'ripple-color': var(--_state-layer-color),
  'ripple-easing': motion-effects.$expressive-fast-effects,
  'ripple-opacity': var(--_state-layer-opacity),
  'unfold-duration': motion-effects.$expressive-fast-effects-duration,
  'unfold-damping': md-sys-motion.$spring-fast-effects-damping,
  'unfold-stiffness': md-sys-motion.$spring-fast-effects-stiffness,
);

$-extensions: ($default-tokens, $special-tokens);

$special: map.merge(
  $special-tokens,
  append-public-prefix(
    (
      'elevation-default': map.get($special-tokens, 'elevation-default'),
      'elevation-hovered': map.get($special-tokens, 'elevation-hovered'),
    ),
    'md-fab'
  )
);

$default: map.merge(state-vars($default-tokens, 'md-fab'), $special);

$hovered-tokens: map.get($-groups, 'hovered');

$hovered: state-vars(
  extend($hovered-tokens, $-extensions...),
  'md-fab-hovered'
);

$focused: state-vars(
  extend(map.get($-groups, 'focused'), $-extensions...),
  'md-fab-focused'
);

$pressed: state-vars(
  extend(map.get($-groups, 'pressed'), $-extensions...),
  'md-fab-pressed'
);
