:host(:disabled) {
  background-color: color-mix(
    in srgb,
    var(--_container-color),
    transparent calc(100% - var(--_container-opacity) * 100%)
  );
  color: color-mix(
    in srgb,
    var(--_label-text-color),
    transparent calc(100% - var(--_label-text-opacity) * 100%)
  );
  cursor: default;
  pointer-events: none;
  outline: none;
}

:host(:disabled) #icon {
  color: color-mix(
    in srgb,
    var(--_icon-color),
    transparent calc(100% - var(--_icon-opacity) * 100%)
  );
}
